@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Azure AD Authentication</p>
    <br />
    <a href ="~/MicrosoftIdentity/Account/SignIn">Sign In</a>
</div>
